%h1
  Professional Support

%p.supportLead
  Get support straight from the one-man team behind Nchan.
  
%p.supportContact
  %a(href="mailto:support@nchan.io?subject=Pro%20Support")
    support@nchan.io
  
%p
  With over a decade of full-stack web development experience, scalability expertise, and deep knowledge of Nginx internals, here are just some of the services we offer:

%h3
  Nchan
  
%ul
  %li
    Architecting Nchan-based solutions
  %li
    Optimizing your configuration for optimum scalability
  %li
    Supporting custom features
  
%h3 
  Nginx & Openresty
  
%p
  We also offer a wide range of Nginx services, from quick checkups to long-term support:

%ul
  %li
    Custom Nginx module development
  %li
    Lua module and Openresty architecting and development
  %li
    Support for Nginx devops and monitoring

%h3 
  Web Development
  
%p 
  Full stack consulting for architecting and development is also available.
  
.supportContact
  Contact us at <a href="mailto:support@nchan.io?subject=Pro%20Support">support@nchan.io</a>.
  

%h1 
  Free & Open Source Support
  
%p
  If you find any bugs in Nchan, please submit a report on 
  <a href="https://github.com/slact/nchan/issues">Github</a>.

%h1#sponsors="Sponsors"
%p
  Here are some of the sponsors that have made the development and continual support of Nchan possible:

%table.sponsors
  != render "_sponsor", {tag: "respawn", name: "Respawn Entertainment", url: "http://respawn.com", info: "Redis bugfixes, long-polling multipart response support, long-polling bugfixes", imgclass: "dark"}
  != render "_sponsor", {tag: "ring", name: "Ring", url: "https://ring.com", info: "Redis cluster & other bugfixes"}
  != render "_sponsor", {tag: "hyfn", name: "HYFN", url: "https://hyfn.com", info: "Websocket permessage-deflate support"}
  != render "_sponsor", {tag: "symless", name: "Symless", url: "https://symless.com", info: "Upstream authorization failure response proxying", imgclass: "dark"}  
  != render "_sponsor", {tag: "anonymous", noimg: true, name: "Anonymous sponsors", info: "Various features and bugfixes"}
  
%h2#contribute="Contribute"
!= render "donate"
