!!!

%html(lang="en")
  %head
    %meta(charset="utf-8")
    %meta(name="keywords" content="nchan pub/sub pubsub server nginx websocket longpoll eventstream Server-Sent events pushmodule push module")
    %meta(name="title" content="Nchan - flexible pub/sub server for the modern web")
    %meta(name="viewport" content="width=device-width, initial-scale=1")
    %link(rel="icon" href="/icons/tiny.png" sizes="16x16" type="image/png")
    %link(rel="icon" href="/icons/small.png" sizes="32x32" type="image/png")
    %link(rel="icon" href="/icons/iphone.png" sizes="57x57" type="image/png")
    %link(rel="icon" href="/icons/nchan.svg" sizes="any" type="image/svg+xml")
    
    %link(rel="stylesheet" type="text/css" href="/css/styles.css")
    %link(rel="stylesheet" type="text/css" href="/css/pygments.css")

    %link(rel="image_src" href="/img/nchan_logo.png")
    
    %title="Nchan #{@page_title ? "| #{@page_title}" : "- flexible pubsub for the modern web"}"
    %script(type="text/javascript" src="https://cdn.polyfill.io/v2/polyfill.js?features=Element.prototype.classList,Array.prototype.map,Array.prototype.forEach,Array.from,Element.prototype.classList,document.querySelector")
  
  %body
    %script(type="text/javascript" src="/js/index.js")
    #topBar.outOfView
    .header
      %img.logo(src='/img/nchan_logo.png' alt="Nchan logo")
      %a.logo-overlay(href='/')
      .nginx
        %a(href="http://nginx.org")
          %img.nginx(src='/img/powered_by_nginx.png' alt="Powered by nginx")
      %ul.navigation
        %li
          %a(href="/#about")="about"
        %li
          %a(href="/#install")="install"
        %li
          %a(href="/#getting-started")="docs"
        %li
          %a(href="/#configuration-directives")="configure"
        %li
          %a(href="/support")="support"
        %li
          %a.github(href="https://github.com/slact/nchan")="github"
    - if @show_announcements
      != render :announcements
    .pageLayout
      #page.page
        != yield
      #sidebarScrollReference
      .sidebar
        - unless @no_contents
          .tableOfContents.tocBox
      - unless @no_footer
        .footer
          != render "footer"
    .closer
      %img(src="/icons/kopimi.png" alt="copy, but don't plagiarise")
